body {
  background-color: #000000;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color : black;

  grid-gap: 15px;
}

.grid :hover {
  color: white;
  background-color: #E6425E;
}

/* .card-color {
  color : #CAD5E2;
} */

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 35px;
  color: #ffffff;
}
